<div id="header" class="container-fluid">
    <div class="container">
        <div id="container-user-bar" class="row"></div>
        <div id="container-search-form" class="row"></div>
        <div id="container-user" class="row"></div>
    </div>
</div>
<div id="main"></div>
<div id="modal"></div>